html,body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: beige;
}

h1 {
  text-align: center;
}

svg {
  border: solid grey 1px;
  margin: 5px;
}

#dashboard {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#map {
  display: block;
}

#plot {
  flex-basis: 80%;
}

#tooltip {
  opacity: 0;
  position: absolute;
  border-radius: 10px;
  padding: 7px;
  background-color: #39CCCC;
  pointer-events: none;
  font-size: 13px;
}

#tooltip p {
  margin: 0;
}
